header {
    background-color: #669bbc;
    padding: 10px;
    text-align: center;
    font-size: 1.5em;
    color: #333;
    border-bottom: 5px solid #333;


}

header h1 {
    margin: 10px;
}

body {

    margin: 0;
    background-color: #e5e5e5;
    font-family: "Merriweather", sans-serif;

}

main {
    display: flex;
    justify-content: center;
    margin-top: 100px;

}

#tabla {
    background-color: #669bbc;
    text-align: center;
    border: 3px #333 solid;
    padding: 20px;
}


#tabla tbody input {
    padding: 3px 0px;
    background-color: #f8f9fa;
    border: 1px solid #1d3557;
    text-align: center;
}

#numSubnet {
    width: 50px;
}

#submit {
    width: 150px;
    padding: 5px 10px;
    font-size: 1.15em;
    font-weight: bold;
    border: 1px solid #1d3557;
    background-color: #ced4da;

}

#changeSubnet {
    width: 80px;
    padding: 10px 5px;
    font-weight: bold;
    border: 1px solid #1d3557;
    background-color: #ced4da;
    margin-left: 7px;
}

#changeSubnet:hover,
#submit:hover {
    background-color: #1d3557;
    color: white;
    border: 1px solid #f8f9fa;
}

#tabla tbody tr:first-child {
    margin-bottom: 5px;
}

#majorNetTD p {
    color: #780000;
    font-size: 0.75em;
}


#errorMessage {
    color: #780000;
}

.error p {
    margin: 0;
}

@media only screen and (max-width: 600px) {
    body {

        /* width: 100vh; */
        overflow: auto;
    }

    header h1 {
        font-size: 1.5em;
    }

    #tabla {
        display: block;
        width: 360px;
        padding: 25px 5px;
    }


    #subnetTable td {
        width: 125px;
    }

    #subnetTable input {
        width: inherit;
    }

    #prefix {
        width: 75px;
        margin-top: 3px;
        margin-bottom: 15px;
    }

    #changeSubnetRow td {
        width: 50px !important;
    }



    #changeSubnet {
        margin-top: 3px;

    }

}